# Keras regression to predict strength of concrete

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

Using TensorFlow backend.

### Importing the data

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

There are 9 features, and 1030 observations

In [3]:
concrete_data.shape

(1030, 9)

Summary of data characteristics

In [4]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

The variable "Strength" will be predicted from all others

In [0]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Split the predictors and the target into 70% training, 30% test

In [0]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)

Normalize training and test predictors separately

In [0]:
X_train_norm = (X_train - X_train.mean()) / X_train.std()
X_test_norm = (X_test - X_test.mean()) / X_test.std()
#X_train_norm.head()

In [0]:
n_cols = predictors.shape[1] # number of predictors

Function to perform one trial of fitting and evaluating the model

In [0]:
# Function to perform one repetition of training and evaluating
def train_and_eval_model(predictors_train, target_train, predictors_test, target_test
                         , num_epochs, model_to_use) :
  model_to_use.fit(predictors_train, target_train, validation_split=0.3, epochs=num_epochs, verbose=0)
  predicted_test = model_to_use.predict(predictors_test)
  MSE_test = mean_squared_error(target_test, predicted_test)

  return MSE_test

Function to create a regression model with 1 hidden layer

In [0]:
# define regression model with 1 hidden layer
def regression_model_1h( num_hidden_nodes  ):
    # create model
    model = Sequential()
    model.add(Dense(num_hidden_nodes, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Function to create a regression model with 3 hidden layers

In [0]:
# define regression model with 3 hidden layers
def regression_model_3h( num_hidden_nodes  ):
    # create model
    model = Sequential()
    model.add(Dense(num_hidden_nodes, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(num_hidden_nodes, activation='relu'))
    model.add(Dense(num_hidden_nodes, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Building the models before fitting

In [0]:
# build the model with 1 hidden layers for parts A-C
model_1_hidden_layers = regression_model_1h(10)

In [0]:
# build the model with 3 hidden layers for parts D
model_3_hidden_layers = regression_model_3h(10)

### Part A: 1 hidden layer of 10 nodes, non-normalized data, 50 epochs

In [16]:
MSE_Part_A = np.zeros(50, dtype = float)

model_1_hidden_layers = regression_model_1h(10)

# Perform 50 trials of training and evaluation
for i in range(50):
  MSE_test = train_and_eval_model(X_train, y_train, X_test, y_test
                                  , 50, model_1_hidden_layers )
  MSE_Part_A[i] = MSE_test
  if i%5 ==0:
    print("MSE #", i, "has been updated")

# print the mean and stddev of the MSE
print("mean of MSE is:", "{:.2f}".format( MSE_Part_A.mean() ), "std dev is:", "{:.2f}".format( MSE_Part_A.std() )  ) # 635.10, 358.24

MSE # 0 has been updated
MSE # 5 has been updated
MSE # 10 has been updated
MSE # 15 has been updated
MSE # 20 has been updated
MSE # 25 has been updated
MSE # 30 has been updated
MSE # 35 has been updated
MSE # 40 has been updated
MSE # 45 has been updated
mean of MSE is: 114.72 std dev is: 21.04

### Part B: 1 hidden layer of 10 nodes, normalized data, 50 epochs

In [17]:
MSE_Part_B = np.zeros(50, dtype = float)

model_1_hidden_layers = regression_model_1h(10)

# Perform 50 trials of training and evaluation
for i in range(50):
  MSE_test = train_and_eval_model(X_train_norm, y_train, X_test_norm, y_test
                                  , 50, model_1_hidden_layers )
  MSE_Part_B[i] = MSE_test
  if i%5 ==0:
    print("MSE #", i, "has been updated")

# print the mean and stddev of the MSE
print("mean of MSE is:", "{:.2f}".format( MSE_Part_B.mean() ), "std dev is:", "{:.2f}".format( MSE_Part_B.std() )  ) # 79.95 , 94.00

MSE # 0 has been updated
MSE # 5 has been updated
MSE # 10 has been updated
MSE # 15 has been updated
MSE # 20 has been updated
MSE # 25 has been updated
MSE # 30 has been updated
MSE # 35 has been updated
MSE # 40 has been updated
MSE # 45 has been updated
mean of MSE is: 73.24 std dev is: 68.76

### Part C: 1 hidden layer of 10 nodes, normalized data, 100 epochs

In [18]:
MSE_Part_C = np.zeros(50, dtype = float)

model_1_hidden_layers = regression_model_1h(10)

# Perform 50 trials of training and evaluation
for i in range(50):
  MSE_test = train_and_eval_model(X_train_norm, y_train, X_test_norm, y_test
                                  , 100, model_1_hidden_layers )
  MSE_Part_C[i] = MSE_test
  if i%5 ==0:
    print("MSE #", i, "has been updated")

# print the mean and stddev of the MSE
print("mean of MSE is:", "{:.2f}".format( MSE_Part_C.mean() ), "std dev is:", "{:.2f}".format( MSE_Part_C.std() )  ) # 54.71, 0.28

MSE # 0 has been updated
MSE # 5 has been updated
MSE # 10 has been updated
MSE # 15 has been updated
MSE # 20 has been updated
MSE # 25 has been updated
MSE # 30 has been updated
MSE # 35 has been updated
MSE # 40 has been updated
MSE # 45 has been updated
mean of MSE is: 88.25 std dev is: 14.91

### Part D: 3 hidden layers each of 10 nodes, normalized data, 50 epochs

In [19]:
MSE_Part_D = np.zeros(50, dtype = float)

model_3_hidden_layers = regression_model_3h(10)

# Perform 50 trials of training and evaluation
for i in range(50):
  MSE_test = train_and_eval_model(X_train_norm, y_train, X_test_norm, y_test
                                  , 50, model_3_hidden_layers )
  MSE_Part_D[i] = MSE_test
  if i%5 ==0:
    print("MSE #", i, "has been updated")

# print the mean and stddev of the MSE
print("mean of MSE is:", "{:.2f}".format( MSE_Part_D.mean() ), "std dev is:", "{:.2f}".format( MSE_Part_D.std() )  )  # 54.65, 19.18

MSE # 0 has been updated
MSE # 5 has been updated
MSE # 10 has been updated
MSE # 15 has been updated
MSE # 20 has been updated
MSE # 25 has been updated
MSE # 30 has been updated
MSE # 35 has been updated
MSE # 40 has been updated
MSE # 45 has been updated
mean of MSE is: 50.31 std dev is: 20.85

## Discussion
- Part A used non-normalized data, and had the worst perfrmance, with highest MSE. This indicates that it's important to normalize the data prior to fitting the model. 
- Part B had the same hyperparameters as Part A, but with the data normalized by mean and standard deviation, and it showed an improvement with lower MSE.
- Part C had 100 epochs, and showed evidence of over-fitting the test data since it actually had a higher MSE than Part B. This shows that too many epochs may overfit the data. The lower standard deviation also indicates that precision is increasing, even as accuracy is worse.
- Part D had 50 epochs again, but with 3 hidden layers instead of 1. This showed an improvement from Part A, with lower MSE and lower standard deviation of MSE. This indicates that more hidden layers can significantly improve a model.

In [28]:
from prettytable import PrettyTable
    
x = PrettyTable()

x.field_names = ["Part", "Description", "Mean MSE of Test Data", "Std Dev MSE of Test Data"]

x.add_row(["A", "non-normalized, 50 epochs, 1 hidden layer" , "{:.2f}".format( MSE_Part_A.mean() ) , "{:.2f}".format( MSE_Part_A.std() )  ])
x.add_row(["B", "normalized, 50 epochs, 1 hidden layer"     , "{:.2f}".format( MSE_Part_B.mean() ) , "{:.2f}".format( MSE_Part_B.std() )  ])
x.add_row(["C", "normalized, 100 epochs, 1 hidden layer"    , "{:.2f}".format( MSE_Part_C.mean() ) , "{:.2f}".format( MSE_Part_C.std() )  ])
x.add_row(["D", "normalized, 50 epochs, 3 hidden layers"    , "{:.2f}".format( MSE_Part_D.mean() ) , "{:.2f}".format( MSE_Part_D.std() )  ])

print(x)

+------+-------------------------------------------+-----------------------+--------------------------+
| Part |                Description                | Mean MSE of Test Data | Std Dev MSE of Test Data |
+------+-------------------------------------------+-----------------------+--------------------------+
|  A   | non-normalized, 50 epochs, 1 hidden layer |         114.72        |          21.04           |
|  B   |   normalized, 50 epochs, 1 hidden layer   |         73.24         |          68.76           |
|  C   |   normalized, 100 epochs, 1 hidden layer  |         88.25         |          14.91           |
|  D   |   normalized, 50 epochs, 3 hidden layers  |         50.31         |          20.85           |
+------+-------------------------------------------+-----------------------+--------------------------+